:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
  --main-text-color: #212121;
  --secondary-text-color: #000000;
  --link-color: #757575;
  --white-color: #ffffff;
  --icon-color: #afb1b8;
}

/* * {
  outline: 1px solid tomato;
} */

body {
  font-family: var(--main-font);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

p {
  margin: 0;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}

.section {
  padding: 94px 0px;
}

/* ==========Components========== */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==========End Components========== */

/* ==========Header========== */

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.header .address {
  margin-left: auto;
}

.nav-list-item:not(:last-child),
.address-list-item:not(:last-child) {
  margin-right: 50px;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--link-color);
}

.nav-list {
  display: flex;
  color: var(--main-text-color);
}

.address {
  display: flex;
  color: var(--link-color);
  font-style: normal;
}

.address-list-item::before {
  background-image: url(../images/sprite.svg);
}

.nav-list-link:hover,
.nav-list-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: #2196f3;
  color: var(--white-color);
}

/* ==========End Header========== */

/* ==========Hero========== */

.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-list {
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  width: 696px;
  color: var(--white-color);
}

.hero-button {
  min-width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  margin: auto;
  color: var(--white-color);
}

/* ==========End Hero========== */

/* ==========About========== */

.about {
  padding-top: 94px;
}

.about-list {
  display: flex;
}

.about-list-item:not(:last-child) {
  margin-right: 30px;
}

.about-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

/* ==========End About========== */

/* ==========About-img========== */

.about-img-list {
  display: flex;
}

.about-img-list-item:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 50px;
}

/* ==========End About-img========== */

/* ==========Team========== */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-wrapper {
  padding: 30px 10px;
}

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.team-list-undertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--white-color);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

/* ==========End Team========== */

/* ==========Footer========== */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-address-list-item {
  flex-direction: column;
  display: flex;
}

.footer-maps {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
}

.footer-link {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-link,
.footer-tel {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ==========End Footer========== */

/* ==========Portfolio========== */

.portfolio-button-list {
  display: flex;
  margin-bottom: 20px;
  height: 38px;
  justify-content: center;
}

.portfolio-button {
  font-family: var(--main-font);
  height: 38px;
  background: #f5f4fa;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.portfolio-button-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-list-item {
  margin-top: 30px;
  background: var(--white-color);
  border: 1px solid #eeeeee;
}

.portfolio-list-wrapper {
  padding: 20px 24px;
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-list-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--link-color);
}

/* ==========End Portfolio========== */
